# EXERCÍCIO SÉRIES E DATAFRAME

Passo 1: Importar as bibliotecas necessárias.

In [180]:
import numpy as np
import pandas as pd

Passo 2: Criar um DataFrame com os dados fornecidos com dicionário.

In [181]:
evo = {'Evolução':['Ivysaur', 'Charmeleon', 'Wartotle', 'Metapod']}
vida = {'HP':[45, 39, 44, 45]}
name = {'Nome':['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie']} 
agenda = {'Pokedex':['Sim', 'Não', 'Sim', 'Não']}
kind = {'Tipo':['Planta', 'Fogo', 'Água', 'Inseto']}

Passo 3: Crie uma Série para cada dicionário criado acima.

In [182]:
evos = pd.Series(evo['Evolução'], name='Evolução')
vidas = pd.Series(vida['HP'], name='HP')
names = pd.Series(name['Nome'], name = 'Nome')
agendas = pd.Series(agenda['Pokedex'], name = 'Nome')
kinds = pd.Series(kind['Tipo'], name = 'Tipo')

Passo 4. Crie um data frame para a tabela fornecida usando só os dicionário, depois usando só as séries criadas acima.

In [183]:
data = dict(evo, **vida, **name, **agenda, **kind)
dfd = pd.DataFrame(data)    # dataframe
dfd

     Evolução  HP        Nome Pokedex    Tipo
0     Ivysaur  45   Bulbasaur     Sim  Planta
1  Charmeleon  39  Charmander     Não    Fogo
2    Wartotle  44    Squirtle     Sim    Água
3     Metapod  45    Caterpie     Não  Inseto

In [184]:
dfs = pd.DataFrame(pd.concat([evos, vidas, names, agendas, kinds], axis=1)) #serie
dfs

     Evolução  HP        Nome Nome    Tipo
0     Ivysaur  45   Bulbasaur  Sim  Planta
1  Charmeleon  39  Charmander  Não    Fogo
2    Wartotle  44    Squirtle  Sim    Água
3     Metapod  45    Caterpie  Não  Inseto

Passo 5: Ordene as colunas do dataframe criado de forma a ter: nome, evolução, tipo, HP e pokedex como ordem das colunas.

In [185]:
dfd = dfd[['Nome', 'Evolução', 'Tipo', 'HP', 'Pokedex']]
dfd

         Nome    Evolução    Tipo  HP Pokedex
0   Bulbasaur     Ivysaur  Planta  45     Sim
1  Charmander  Charmeleon    Fogo  39     Não
2    Squirtle    Wartotle    Água  44     Sim
3    Caterpie     Metapod  Inseto  45     Não

Passo 6. Transforme a coluna Nome no index do dataframe.

In [186]:
dfd = dfd.set_index('Nome')
dfd

              Evolução    Tipo  HP Pokedex
Nome
Bulbasaur      Ivysaur  Planta  45     Sim
Charmander  Charmeleon    Fogo  39     Não
Squirtle      Wartotle    Água  44     Sim
Caterpie       Metapod  Inseto  45     Não

Passo 7. Insira uma nova coluna, dando uma nota para o pokemon.

In [187]:
dfd['Nota'] = [10, 9, 3, 4]
dfd

              Evolução    Tipo  HP Pokedex  Nota
Nome
Bulbasaur      Ivysaur  Planta  45     Sim    10
Charmander  Charmeleon    Fogo  39     Não     9
Squirtle      Wartotle    Água  44     Sim     3
Caterpie       Metapod  Inseto  45     Não     4

Passo 8. Mostre o tipo de cada coluna do dataframe.

In [190]:
dfd.dtypes

Evolução    object
Tipo        object
HP           int64
Pokedex     object
Nota         int64
dtype: object